/node_modules
/public/hot
/public/storage
/storage/*.key
/public/css/*
/public/js/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/data.ms
/data.ms/*
MailHog_windows_amd64.exe
meilisearch-windows-amd64.exe
data.ms/instance-uid
public/mix-manifest.json
webpack.mix.js
.composer
phpstan.neon
.DS_Store
.phpunit.cache
infection*
per-mutator.md
summary*
!infection.phar
!infection.phar.asc
!infection.json5
.composer
