[Unit]
Description=Laravel Socketserver
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/npm run sockets

[Install]
WantedBy=multi-user.target
