@layer components {
    #headlessui-portal-root {
        .add-category-or-group-modal-container {
            @apply flex flex-col mx-4 gap-y-2;

            .new-category-or-group-form {
                @apply flex flex-col gap-y-2;

                .new-category-or-group-error-text {
                    @apply text-xs subpixel-antialiased text-error;
                }

                .button-container {
                    @apply w-full flex flex-row justify-center mt-4;
                }
            }
        }

        .add-column-modal-container {
            @apply flex flex-col mx-4 gap-y-2;

            .new-column-form {
                @apply flex flex-col gap-y-2;

                ul {
                    @apply max-h-40;
                }

                .error-text {
                    @apply text-xs subpixel-antialiased text-error;
                }

                .new-select-options-container {
                    @apply w-full flex flex-col;

                    .add-select-option-container {
                        @apply flex flex-row w-full items-start gap-x-2;

                        .layout {
                            @apply flex flex-row w-full items-center gap-x-2;

                            .icon {
                                @apply w-8 h-8 bg-artwork-buttons-create hover:bg-artwork-buttons-hover text-white cursor-pointer translate-y-2.5 p-1 subpixel-antialiased rounded-full;
                            }
                        }
                    }

                    .new-select-options-list-container {
                        @apply w-full flex flex-col items-center text-xs;

                        .new-option-container {
                            @apply w-full flex flex-col border-b py-2 gap-y-2;

                            .title {
                                @apply text-primary underline;
                            }

                            .select-option-container {
                                @apply flex flex-row justify-between items-center;

                                .select-option-name {
                                    @apply w-3/4 break-words;
                                }

                                .icon {
                                    @apply w-8 h-8 bg-artwork-buttons-create hover:bg-artwork-buttons-hover text-white cursor-pointer p-1 subpixel-antialiased rounded-full;
                                }
                            }
                        }
                    }

                    .select-options-error-text {
                        @apply text-xs subpixel-antialiased text-error mt-2;
                    }
                }

                .button-container {
                    @apply w-full flex flex-row justify-center mt-4;
                }
            }
        }

        .edit-column-select-options-modal-container {
            @apply flex flex-col mx-4 gap-y-2;

            .new-option-container {
                @apply flex flex-row w-full items-start gap-x-2;

                .layout {
                    @apply flex flex-row w-full items-center gap-x-2;

                    .icon {
                        @apply w-8 h-8 bg-artwork-buttons-create hover:bg-artwork-buttons-hover text-white cursor-pointer translate-y-2.5 p-1 subpixel-antialiased rounded-full;
                    }
                }
            }

            .select-options-container {
                @apply w-full flex flex-col items-center text-xs;

                .select-option-container {
                    @apply w-full flex flex-col border-b py-2 gap-y-2;

                    .option-index {
                        @apply text-primary underline;
                    }

                    .option-container {
                        @apply flex flex-row justify-between;

                        .option {
                            @apply w-[90%] break-words;
                        }

                        .icon {
                            @apply w-8 h-8 bg-artwork-buttons-create hover:bg-artwork-buttons-hover text-white cursor-pointer p-1 subpixel-antialiased rounded-full;
                        }
                    }
                }
            }

            .error-text {
                @apply text-xs subpixel-antialiased text-error;
            }

            .button-container {
                @apply w-full flex flex-row justify-center mt-4;
            }
        }
    }

    .inventory-container {
        @apply flex flex-col relative;

        .empty-row-td {
            @apply h-5;
        }

        .empty-row-xxs-td {
            @apply h-0.5;
        }

        .inventory-top-bar-container {
            @apply flex flex-row w-[80%] h-10 items-center gap-x-2 absolute justify-end right-0 -top-12 z-30 rounded-t-md subpixel-antialiased;

            .inventory-top-bar-filter-container {
                @apply flex flex-col w-full gap-y-2;

                .reset-filter-container {
                    @apply flex justify-between;

                    span {
                        @apply text-sm;
                    }

                    .reset-btn {
                        @apply xxsLight cursor-pointer text-right w-full;
                    }
                }

                .title {
                    @apply text-sm border-b;
                }

                .craft-checkbox-filter {
                    @apply flex flex-col gap-0;
                }
            }

            .inventory-top-bar-search-input {
                @apply w-60 h-10 inputMain placeholder:xsLight placeholder:subpixel-antialiased focus:outline-none focus:ring-0 focus:border-secondary focus:border border-gray-300;
            }

            .inventory-top-bar-search-icon {
                @apply h-7 w-7 cursor-pointer hover:text-blue-500;
            }

            .inventory-top-bar-search-close-icon {
                @apply h-7 w-7 cursor-pointer hover:text-blue-500;
            }

            .inventory-top-bar-export-icon {
                @apply h-7 w-7 cursor-pointer text-artwork-buttons-context;
            }

            .inventory-top-bar-new-column-btn {
                @apply flex p-2 px-3 items-center border border-transparent rounded-lg shadow-sm text-white focus:outline-none bg-artwork-buttons-create hover:bg-artwork-buttons-hover;
            }
        }

        .inventory-table-head {
            @apply sticky z-20 top-0 transition-all duration-300 shadow-sm text-white;

            .inventory-th-container {
                @apply w-full h-full flex flex-row items-center relative text-xs;

                .inventory-th-edit-container {
                    @apply flex flex-row w-full h-full py-2 text-left items-center cursor-pointer;

                    .column-name {
                        @apply w-[99%] px-2 overflow-hidden overflow-ellipsis whitespace-nowrap;
                    }

                    .column-input-container {
                        @apply bg-secondary flex flex-row items-center px-1 top-[4px] text-white gap-x-2 w-full z-50 absolute;

                        .column-input {
                            @apply w-full p-1 pl-2 border-0 text-xs text-black;
                        }
                    }
                }

                .inventory-th-menu-container {
                    @apply absolute z-50 right-0 cursor-pointer flex flex-row items-center;

                    .menu-button {
                        @apply w-5 h-5 flex-shrink-0 z-50;
                    }

                    .inventory-th-menu {
                        @apply w-full h-full relative;
                    }

                    .menu-items {
                        @apply absolute z-50 -translate-x-[110%] top-2 shadow-lg rounded-xl bg-artwork-navigation-background focus:outline-none;
                    }

                    .first-column-menu-items {
                        @apply absolute z-50 -translate-x-[5%] top-2 shadow-lg rounded-xl bg-artwork-navigation-background focus:outline-none;
                    }

                    .menu-items,
                    .first-column-menu-items {
                        .active {
                            @apply rounded-xl bg-artwork-navigation-color/10 text-white;
                        }

                        .not-active {
                            @apply text-secondary;
                        }

                        .default {
                            @apply cursor-pointer flex items-center px-4 py-2 subpixel-antialiased;
                        }

                        .icon {
                            @apply mr-3 h-5 w-5;
                        }
                    }
                }

                .inventory-th-color-menu-container {
                    @apply absolute -translate-x-[107%] translate-y-[8px] z-40 flex flex-col gap-2 p-2 shadow-lg rounded-xl bg-artwork-navigation-background focus:outline-none;

                    .menu-item {
                        @apply cursor-pointer flex flex-row p-2 items-center hover:bg-artwork-navigation-color/10 transition-all duration-300 rounded-md;

                        .whiteColumn {
                            background-color: #FCFCFBFF;
                        }

                        .darkBlueColumn {
                            background-color: #21485C;
                        }

                        .darkGreenColumn {
                            background-color: #4D908E;
                        }

                        .darkLightBlueColumn {
                            background-color: #168FC3;
                        }

                        .lightBlueNew {
                            background-color: #3DC3CB;
                        }

                        .greenColumn {
                            background-color: #2EAA63;
                        }

                        .lightGreenColumn {
                            background-color: #86C554;
                        }

                        .yellowColumn {
                            background-color: #F1B640;
                        }

                        .orangeColumn {
                            background-color: #EB7A3D;
                        }

                        .redColumn {
                            background-color: #DA3F87;
                        }

                        .pinkColumn {
                            background-color: #641A54;
                        }

                        .icon-container {
                            @apply flex rounded-full h-10 w-10 relative;

                            .icon {
                                @apply h-5 w-5 flex absolute top-2.5 left-2.5 bg-black bg-opacity-25 p-1 text-white rounded-full;
                            }
                        }
                    }

                    .menu-item-close {
                        @apply cursor-pointer flex flex-row p-2 items-center justify-center hover:bg-artwork-navigation-color/10 transition-all duration-300 rounded-md;

                        .icon {
                            @apply w-4 h-4 text-gray-400;
                        }
                    }
                }
            }
        }

        table {
            .craft-td {
                @apply subpixel-antialiased text-lg;

                .craft-container {
                    @apply flex flex-row items-center gap-x-2;

                    .icon {
                        @apply w-5 h-5 cursor-pointer;
                    }

                    .title {
                        @apply flex flex-row items-center w-auto gap-x-2 cursor-pointer;
                    }
                }
            }

            .add-category-container {
                @apply w-full flex flex-row cursor-pointer items-center justify-center border-2 border-dashed p-10 text-xs transition-all duration-300 hover:text-artwork-buttons-hover hover:border-artwork-buttons-hover;

                .icon {
                    @apply w-8 h-8;
                }
            }

            .drop-category-container {
                @apply flex flex-row h-8 border border-dashed border-blue-700 justify-center items-center;

                .icon {
                    @apply w-5 h-5;
                }

                .text {
                    @apply text-xs subpixel-antialiased;
                }
            }

            .drop-group-container {
                @apply flex flex-row h-8 border text-black border-dashed border-blue-700 justify-center items-center;

                .icon {
                    @apply w-5 h-5;
                }

                .text {
                    @apply text-xs subpixel-antialiased;
                }
            }

            .drop-item-container {
                @apply flex flex-row py-1 border border-dashed border-blue-700 justify-center items-center;

                .icon {
                    @apply w-5 h-5;
                }

                .text {
                    @apply text-xs subpixel-antialiased;
                }
            }


            .add-new-row {
                @apply w-full flex flex-row absolute justify-center -translate-y-[2px] h-0.5 z-10;

                .add-new-td {
                    @apply w-full flex flex-row justify-center;

                    .container {
                        @apply w-[99%] h-0.5 cursor-pointer flex flex-row justify-center relative border-dashed max-w-full;

                        .absolute-container {
                            @apply absolute -top-[39px] hidden flex-col gap-y-2 items-center uppercase text-xs subpixel-antialiased;

                            div {
                                @apply flex flex-row px-2 rounded-2xl bg-primary border border-white text-white;
                            }

                            .icon {
                                @apply h-6 w-6 text-white bg-artwork-buttons-create rounded-full;
                            }
                        }
                    }
                }
            }
        }
    }
}
