@import "./Timeline/timeline";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter-Regular'), url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'artwork Pen';
    src: local('artworkPen'), url('../fonts/artworkPen.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend';
    src: local('Lexend-Regular'), url('../fonts/Lexend-Regular.ttf') format('truetype');
}

@layer components {
    .stripes {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX0tudFciIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgcGF0dGVyblRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PGxpbmUgeDE9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTciIHN0cm9rZT0iI0YzRjRGNiIgc3Ryb2tlLXdpZHRoPSI2Ii8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX0tudFcpIiBvcGFjaXR5PSIxIi8+PC9zdmc+')
    }
    .headline1{
        font: normal normal 900 30px/34px Lexend;
        letter-spacing: -0.15px;
        color: #27233C;
        opacity: 1;
    }
    .headline2{
        font: normal normal 600 20px/25px Lexend;
        letter-spacing: 0.4px;
        color: #27233C;
        opacity: 1;
    }
    .headline3{
        font: normal normal 600 18px/21px Lexend;
        letter-spacing: 0.4px;
        color: #27233C;
        opacity: 1;
    }
    .headline3Light{
        font: normal normal 18px/21px Inter;
        letter-spacing: 0;
        color: #A7A6B1;
        opacity: 1;
    }
    .headline4{
        font: normal normal 600 20px/25px Lexend;
        letter-spacing: -0.1px;
        color: #27233C;
        opacity: 1;
    }
    .headline6Light{
        font: normal normal 600 10px/19px Inter;
        letter-spacing: 0.5px;
        color: #A7A6B1;
        text-transform: uppercase;
        opacity: 1;
    }
    .xxsLight{
        font: normal normal 12px/18px Inter;
        letter-spacing: -0.18px;
        color: #A7A6B1;
        opacity: 1;
    }
    .xxsDark{
        font: normal normal 12px/15px Inter;
        letter-spacing: 0;
        color: #27233C;
        opacity: 1;
    }
    .xxsDarkBold{
        font: normal normal 600 12px/15px Inter;
        letter-spacing: 0;
        color: #27233C;
        opacity: 1;
    }
    .sLight{
        font: normal normal 16px/19px Inter;
        letter-spacing: 0.14px;
        color: #A7A6B1;
        opacity: 1;
    }
    .xsLighter{
        font: normal normal 14px/20px Inter;
        letter-spacing: 0.14px;
        color: #CECDD8;
        opacity: 1;
    }
    .xsWhiteBold{
        font: normal normal bold 14px/20px Inter;
        letter-spacing: -0.07px;
        color: #FCFCFB;
        opacity: 1;
    }

    .xWhiteBold{
        font: normal normal bold 18px/20px Inter;
        letter-spacing: -0.07px;
        color: #A7A6B1;
        opacity: 1;
    }

    .xsLight{
        font: normal normal bold 14px/20px Inter;
        letter-spacing: -0.07px;
        color: #A7A6B1;
        opacity: 1;
    }

    .xxsLightSidebar{
        font: normal normal 600 10px/20px Inter;
        letter-spacing: -0.07px;
        color: #A7A6B1;
        opacity: 1;
    }

    .xsDark{
        font: normal normal 600 14px/20px Inter;
        letter-spacing: -0.07px;
        color: #27233C;
        opacity: 1;
    }
    .sDark{
        font: normal normal 600 16px/20px Inter;
        letter-spacing: 0;
        color: #27233C;
        opacity: 1;
    }
    .mDark{
        font: normal normal 600 18px/21px Inter;
        letter-spacing: 0;
        color: #27233C;
        opacity: 1;
    }
    .hind{
        font: normal normal normal 18px/18px "artwork Pen";
        letter-spacing: -0.54px;
        color: #A7A6B1;
        opacity: 1;
    }
    .errorText{
        font: normal normal 14px/20px Inter;
        letter-spacing: -0.07px;
        color: #FD6D73;
        opacity: 1;
    }
    .successText{
        font: normal normal 14px/20px Inter;
        letter-spacing: -0.07px;
        color: #1FC687;
        opacity: 1;
    }
    .inputMain{
        border: 2px solid #CECDD8;
        opacity: 1;
    }
    .eventTime{
        font: normal normal 12px/18px Inter;
    }
    .eventHeader{
        font: normal normal bold 12px/20px Inter;
    }
    .eventBorder{
        border: 1px solid #D8D7DE;
        opacity: 1;
    }
    .calendarRoomHeader{
        font: normal normal 13px/18px Inter;
        letter-spacing: -0.2px;
    }
    .eventText{
        font: normal 600 10px/19px Inter;
    }
    .bigNumber{
        font: normal normal 40px/48px Lexend;
        color: #27233C;
        opacity: 1;
    }
    .linkText{
        text-align: left;
        font: normal normal 12px/18px Inter;
        letter-spacing: -0.18px;
        color: #3017AD;
        opacity: 1;
    }
    .columnSubName {
        font: normal normal 600 10px/19px Inter;
        letter-spacing: 0.5px;
        color: #A7A6B1;
        text-transform: uppercase;
        opacity: 1;
    }

    .stateColorDefault {
        background-color: #FCFCFBFF;
        border: 1px solid #afafaf;
        color: #696868;
    }

    .stateColorRed {
        background: rgba(100, 26, 84, 0.15);
        border: 1px solid #641A54;
        color: #641A54;
    }

    .stateColorPink {
        background: rgba(218, 63, 135, 0.15);
        border: 1px solid #DA3F87;
        color: #DA3F87
    }

    .stateColorOrange {
        background: rgba(235, 122, 61, 0.15);
        border: 1px solid #EB7A3D;
        color: #EB7A3D;
    }

    .stateColorYellow {
        background: rgba(241, 182, 64, 0.15);
        border: 1px solid #F1B640;
        color: #F1B640;
    }

    .stateColorGreen {
        background: rgba(134, 197, 84, 0.15);
        border: 1px solid #86C554;
        color: #86C554;
    }

    .stateColorDarkGreen {
        background: rgba(46, 170, 99, 0.15);
        border: 1px solid #2EAA63;
        color: #2EAA63;
    }

    .stateColorDodgeBlue {
        background: rgba(61, 195, 203, 0.15);
        border: 1px solid #3DC3CB;
        color: #3DC3CB;
    }

    .stateColorBlue {
        background: rgba(22, 143, 195, 0.15);
        border: 1px solid #168FC3;
        color: #168FC3;
    }

    .stateColorGreenBlue {
        background: rgba(77, 144, 142, 0.15);
        border: 1px solid #4D908E;
        color: #4D908E;
    }

    .stateColorDarkBlue {
        background: rgba(33, 72, 92, 0.15);
        border: 1px solid #21485C;
        color: #21485C;
    }

    .checkBoxOnDark {
        --tw-ring-offset-shadow: 0 0 transparent;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), 0 0 0 var(--tw-ring-offset-width, 0px) var(--tw-ring-offset-color, rgba(59, 130, 246, 0.5));
        cursor: pointer;
        --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
        outline: var(--tw-ring-inset) var(--tw-ring-offset-width, 0px) var(--tw-ring-color, rgba(59, 130, 246, 0.5)), 0 0 0 var(--tw-ring-offset-width, 0px) var(--tw-ring-color, rgba(59, 130, 246, 0.5));
        height: 1.5rem;
        width: 1.5rem;
        color: #1FC687;
        border-width: 2px;
        border-color: #d2d6dc;
    }

    /* Anpassungen für Mobilgeräte */
    @media (max-width: 639px) {
        .headline1 {
            font: normal normal 900 24px/34px Lexend;
        }
        .headline2 {
            font: normal normal 600 18px/25px Lexend;
        }
        .headline3 {
            font: normal normal 600 16px/21px Lexend;
        }
        .headline3Light {
            font: normal normal 16px/21px Inter;
        }
        .headline4 {
            font: normal normal 600 18px/25px Lexend;
        }
        .xxsLight{
            font: normal normal 10px/18px Inter;
        }
        .xxsDark{
            font: normal normal 10px/15px Inter;
        }
        .xxsDarkBold{
            font: normal normal 600 10px/15px Inter;
        }
        .sLight{
            font: normal normal 14px/19px Inter;
        }
        .xsLighter{
            font: normal normal 12px/20px Inter;
        }
        .xsWhiteBold{
            font: normal normal bold 12px/20px Inter;
        }
        .xWhiteBold{
            font: normal normal bold 16px/20px Inter;
        }
        .xsLight{
            font: normal normal bold 12px/20px Inter;
        }
        .xsDark{
            font: normal normal 600 12px/20px Inter;
        }
        .sDark{
            font: normal normal 600 14px/20px Inter;
        }
        .mDark{
            font: normal normal 600 16px/21px Inter;
        }
        .hind{
            font: normal normal normal 16px/18px "artwork Pen";
        }
        .errorText{
            font: normal normal 12px/20px Inter;
        }
        .successText{
            font: normal normal 12px/20px Inter;
        }
        .eventTime{
            font: normal normal 10px/18px Inter;
        }
        .eventHeader{
            font: normal normal bold 10px/20px Inter;
        }
        .calendarRoomHeader{
            font: normal normal 10px/18px Inter;
        }
        .bigNumber{
            font: normal normal 30px/48px Lexend;
        }
        .linkText{
            font: normal normal 10px/18px Inter;
        }
        /* Skalierung für weitere Klassen... */
    }

    /* Anpassungen für Tablets */
    @media (min-width: 640px) and (max-width: 767px) {
        .headline1 {
            font: normal normal 900 28px/34px Lexend;
        }
        .headline2 {
            font: normal normal 600 20px/25px Lexend;
        }
        .headline3 {
            font: normal normal 600 18px/21px Lexend;
        }
        .headline3Light {
            font: normal normal 18px/21px Inter;
        }
        .headline4 {
            font: normal normal 600 20px/25px Lexend;
        }
        .xxsLight{
            font: normal normal 12px/18px Inter;
        }
        .xxsDark{
            font: normal normal 12px/15px Inter;
        }
        .xxsDarkBold{
            font: normal normal 600 12px/15px Inter;
        }
        .sLight{
            font: normal normal 16px/19px Inter;
        }
        .xsLighter{
            font: normal normal 14px/20px Inter;
        }
        .xsWhiteBold{
            font: normal normal bold 14px/20px Inter;
        }
        .xWhiteBold{
            font: normal normal bold 18px/20px Inter;
        }
        .xsLight{
            font: normal normal bold 14px/20px Inter;
        }
        .xsDark{
            font: normal normal 600 14px/20px Inter;
        }
        .sDark{
            font: normal normal 600 16px/20px Inter;
        }
        .mDark{
            font: normal normal 600 18px/21px Inter;
        }
        .hind{
            font: normal normal normal 18px/18px "artwork Pen";
        }
        .errorText{
            font: normal normal 14px/20px Inter;
        }
        .successText{
            font: normal normal 14px/20px Inter;
        }
        .eventTime{
            font: normal normal 12px/18px Inter;
        }
        .eventHeader{
            font: normal normal bold 12px/20px Inter;
        }
        .calendarRoomHeader{
            font: normal normal 13px/18px Inter;
        }
        .bigNumber{
            font: normal normal 40px/48px Lexend;
        }
        .linkText{
            font: normal normal 12px/18px Inter;
        }
        /* Skalierung für weitere Klassen... */
    }

    body {
        scrollbar-width: thin; /* Für Firefox */
        scrollbar-color: #A7A6B170 transparent; /* Für Firefox */
    }

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 16px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        box-shadow: none; /* Entferne mögliche Schatten */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #A7A6B170;
        border-radius: 16px;
        border: 4px solid transparent;
        background-clip: content-box;
        box-shadow: none; /* Entferne mögliche Schatten */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }
}
