.artwork {

    .artwork-container {
        @apply mx-auto container px-4 sm:px-6 md:px-6 lg:px-8 xl:px-8 2xl:px-8 mt-5 min-h-screen pb-20;
    }

    .background-color {
        @apply bg-white;

        &.soft-green {
            @apply bg-gradient-to-br from-[#fcfefd] to-[#f6fbf8];
        }

        &.soft-red {
            @apply bg-gradient-to-br from-[#fefcfc] to-[#fbf3f3];
        }

        &.soft-yellow {
            @apply bg-gradient-to-br from-[#fffef9] to-[#fefcf2];
        }
    }

    .border-color {
        &.soft-green {
            @apply border-[#edf5ef];
        }

        &.soft-red {
            @apply border-[#f6eaea];
        }

        &.soft-yellow {
            @apply border-[#f8f3dd];
        }
    }

    .text-color {
        color: #27233C;

        &.light {
                color: #A7A6B1;
        }

        &.success {
            @apply text-green-500;
        }

        &.danger {
            @apply text-red-500;
        }

        &.warning {
            @apply text-yellow-500;
        }
    }

    .headline {
        &.h1 {
            font: normal normal 900 30px/34px Lexend;
            letter-spacing: -0.15px;
            opacity: 1;
        }

        &.h2 {
            font: normal normal 900 24px/28px Lexend;
            letter-spacing: -0.15px;
            opacity: 1;
        }

        &.h3 {
            font: normal normal 900 20px/24px Lexend;
            letter-spacing: -0.15px;
            opacity: 1;
        }

        &.h4 {
            font: normal normal 900 16px/20px Lexend;
            letter-spacing: -0.15px;
            opacity: 1;
        }

        &.h5 {
            font: normal normal 900 14px/18px Lexend;
            letter-spacing: -0.15px;
            opacity: 1;
        }
    }

    .sub-line {
        &.light {
            font: normal normal bold 14px/20px Inter;
            letter-spacing: -0.07px;
            opacity: 1;
            @apply mt-1;
        }
    }

    .card {
        &.glassy {
            @apply flex h-fit grow flex-col rounded-3xl bg-gradient-to-tl from-white/40 to-sky-100/20 text-left shadow-glass backdrop-blur-sm border border-white/60;
        }

        &.white {
            @apply shadow-glass bg-white rounded-3xl border border-gray-100 w-full;
        }
    }

    .button {
        @apply relative;
        &.glassy {
            @apply flex h-fit w-fit items-center rounded-lg p-1.5 bg-gradient-to-br from-slate-50/70 to-sky-100/20 text-left shadow-glassSmall backdrop-blur-sm border border-gray-100 cursor-pointer;
        }
        span {
            @apply shadow-glassSmall bg-white rounded-xl border border-gray-100 w-fit p-1.5 relative z-30;

            svg {
                @apply text-gray-500;
            }
        }

        p {
            @apply text-gray-500 text-xs font-lexend font-semibold relative z-20;
        }

    }

}
